<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/park_bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/add.css}">
	<title>TogethArt</title>
</head>

<body>
	<div class="wrap-body">
		<!--부모 div-->
		<div id="nav-wrapper" th:replace="~{/nav :: nav}"></div>

		<!--상단, 배너 영역-->
		<div class="member-banner">
			<div class="member-profile">
				<div class="profile-image-div">
					<img class="profile-image" src="./images/img-sample.png" />
				</div>
				<div class="profile-info-div">
					<div class="user-name">
						<h1 style="display:inline;">닉네임</h1>
						<button class="btn btn-secondary my-2 my-sm-0" type="submit"
							style="height:38px;float:right;margin-bottom:5px;">팔로우</button>
					</div>
					<div class="user-about">
						자기소개
					</div>
					<div class="profile-list">
						<ul class="member-cnt">
							<li class="cnt-follower">팔로워 수</li>
							<li class="cnt-post">게시물 수</li>
							<li class="cnt-totalview">게시물 뷰 총합</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--메뉴바-->
		<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
			<div class="container-fluid">
				<!-- 반응형 네비 메뉴 -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
					aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor02">
					<!-- 네비 메뉴 목록 -->
					<ul class="navbar-nav me-auto">
						<!-- 홈 (액티브)-->
						<li class="nav-item"><a class="nav-link active" href="./myPage.html" style="margin-left:58px">Home <span
									class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/member/1/artworks}">Gallery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/member/1/likes}">Favorites</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/member/1/subscribes}">Subscribed</a>
						</li>
					</ul>
					<!-- 서브내비-우측 -->
					<ul class="navbar-nav me-sm-2 subs-info">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/member/1/subs-info}">구독 관리</a>
						</li>
						<li class="nav-item">
							<button id="subscription-button" class="btn btn-secondary my-sm-0" type="submit" style="margin-right: 0.5rem;">구독하기</button>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!--메뉴바 하단(메인) 영역-->
		<div class="main">
			<!--최근 작품-->
			<div class="latest-gallery">
				<div class="gallery-title">
					<a href="./memberArtworks.html">
						<h2>최근 업로드된 작품</h2>
					</a>
				</div>
				<div class="grid-row2">
					<div class="row-4">
						<div style="width: 400px;height: 324px;">
							<a data-hook="art_link" href="">
								<div class="_3ufQB">
									<div class="recent-img" data-testid="thumb" style="width: 92px; height: 92px;">
										<img
											src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
											style="width: 400px; height: 324px; object-fit: cover; object-position: 50% 50%;">
									</div>
								</div>
							</a>
						</div>
						<div style="width: 400px;height: 324px;margin-left:16px;">
							<a data-hook="art_link" href="">
								<div class="_3ufQB">
									<div class="recent-img" data-testid="thumb" style="width: 92px; height: 92px;">
										<img
											src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
											style="width: 400px; height: 324px; object-fit: cover; object-position: 50% 50%;">
									</div>
								</div>
							</a>
						</div>
						<div style="width: 400px;height: 324px;margin-left:16px;">
							<a data-hook="art_link" href="">
								<div class="_3ufQB">
									<div class="recent-img" data-testid="thumb" style="width: 92px; height: 92px;">
										<img
											src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
											style="width: 400px; height: 324px; object-fit: cover; object-position: 50% 50%;">
									</div>
								</div>
							</a>
						</div>
						<div style="width: 400px;height: 324px;margin-left:16px;">
							<a data-hook="art_link" href="">
								<div class="_3ufQB">
									<div class="recent-img" data-testid="thumb" style="width: 92px; height: 92px;">
										<img
											src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
											style="width: 400px; height: 324px; object-fit: cover; object-position: 50% 50%;">
									</div>
								</div>
							</a>
						</div>
						<!--작품 더보기-->
						<div style="width: 115px;height: 324px;margin-left:16px;">
							<a href="./memberArtworks.html"><img class="profile-image" src="./images/img-sample.png" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="divide-mypage">
				<!--좌측 영역-->
				<div class="left-div">
					<!--좋아요 한 게시물-->
					<div class="like-gallery">
						<div class="gallery-title">
							<a href="./memberArtworks.html">
								<h2>좋아요 한 게시물</h2>
							</a>
						</div>
						<div class="grid-row3">
							<div class="row-3-2">
								<div style="width: 359px;height: 300px;">
									<a data-hook="art_link" href="">
										<div class="_3ufQB">
											<div class="recent-img" data-testid="thumb" style="width: 359px; height: 300px;">
												<img
													src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
													style="width: 359px; height: 300px; object-fit: cover; object-position: 50% 50%;">
											</div>
										</div>
									</a>
								</div>
								<div style="width: 359px;height: 300px;margin-left:16px;">
									<a data-hook="art_link" href="">
										<div class="_3ufQB">
											<div class="recent-img" data-testid="thumb" style="width: 359px; height: 300px;">
												<img
													src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
													style="width: 359px; height: 300px; object-fit: cover; object-position: 50% 50%;">
											</div>
										</div>
									</a>
								</div>
								<div style="width: 359px;height: 300px;margin-left:16px;">
									<a data-hook="art_link" href="">
										<div class="_3ufQB">
											<div class="recent-img" data-testid="thumb" style="width: 359px; height: 300px;">
												<img
													src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
													style="width: 359px; height: 300px; object-fit: cover; object-position: 50% 50%;">
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="row-3-2">
								<div style="width: 359px;height: 300px;">
									<a data-hook="art_link" href="">
										<div class="_3ufQB">
											<div class="recent-img" data-testid="thumb" style="width: 359px; height: 300px;">
												<img
													src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
													style="width: 359px; height: 300px; object-fit: cover; object-position: 50% 50%;">
											</div>
										</div>
									</a>
								</div>
								<div style="width: 359px;height: 300px;margin-left:16px;">
									<a data-hook="art_link" href="">
										<div class="_3ufQB">
											<div class="recent-img" data-testid="thumb" style="width: 359px; height: 300px;">
												<img
													src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
													style="width: 359px; height: 300px; object-fit: cover; object-position: 50% 50%;">
											</div>
										</div>
									</a>
								</div>
								<div style="width: 359px;height: 300px;margin-left:16px;">
									<a data-hook="art_link" href="">
										<div class="_3ufQB">
											<div class="recent-img" data-testid="thumb" style="width: 359px; height: 300px;">
												<img
													src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
													style="width: 359px; height: 300px; object-fit: cover; object-position: 50% 50%;">
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="row-3-2">
								<div style="width: 359px;height: 300px;">
									<a data-hook="art_link" href="">
										<div class="_3ufQB">
											<div class="recent-img" data-testid="thumb" style="width: 359px; height: 300px;">
												<img
													src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
													style="width: 359px; height: 300px; object-fit: cover; object-position: 50% 50%;">
											</div>
										</div>
									</a>
								</div>
								<div style="width: 359px;height: 300px;margin-left:16px;">
									<a data-hook="art_link" href="">
										<div class="_3ufQB">
											<div class="recent-img" data-testid="thumb" style="width: 359px; height: 300px;">
												<img
													src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
													style="width: 359px; height: 300px; object-fit: cover; object-position: 50% 50%;">
											</div>
										</div>
									</a>
								</div>
								<div style="width: 359px;height: 300px;margin-left:16px;">
									<a data-hook="art_link" href="">
										<div class="_3ufQB">
											<div class="recent-img" data-testid="thumb" style="width: 359px; height: 300px;">
												<img
													src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17eeef9b-9efb-4c22-b3c5-133a0e19dfef/dg9s6l6-e81ed7f7-9ccd-4d66-b7db-3654b607028b.png/v1/fill/w_900,h_507,q_80,strp/aurora_explorers_by_kloir_dg9s6l6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvMTdlZWVmOWItOWVmYi00YzIyLWIzYzUtMTMzYTBlMTlkZmVmXC9kZzlzNmw2LWU4MWVkN2Y3LTljY2QtNGQ2Ni1iN2RiLTM2NTRiNjA3MDI4Yi5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_hSqME6nuCFzbwZk_od1ljEClmf0vQIwwSt4xCDlT0"
													style="width: 359px; height: 300px; object-fit: cover; object-position: 50% 50%;">
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--우측 영역-->
				<div class="right-div">
					<!--멤버 정보-->
					<div class="wrap-member-info">
						<h2 class="about-member">멤버 정보</h2>
						<div class="member-info">
							<div class="info-div">
								<div class="info-title">
									생일
								</div>
								<div class="birthday">
									Aug 23
								</div>
							</div>
							<div class="info-div">
								<div>
									<div class="info-title">
										가입일
									</div>
									<div class="join-since">
										Jan 03
									</div>
								</div>
							</div>
							<div class="info-title">
								소개글
							</div>
							<div class="intro">
								반갑습니다
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/nav.js"></script>

</body>

</html>