<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
  <title>TogethArt</title>
</head>

<body>

  <div id="nav-wrapper" th:replace="~{/nav :: nav}"></div>

  <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <h5>3DArt</h5>
        </ul>
      </div>
    </div>
  </nav>

  <!-- 메인 갤러리 -->
  <div class="gallery-container">
    <div class="gallery-item">
      <img src="#" alt="">
    </div>
  </div>


  <script src="/js/nav.js"></script>

</body>

</html>