<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
  <title>TogethArt</title>
</head>

<body>

  <div id="nav-wrapper" th:replace="~{/nav :: nav}"></div>

  <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <h5>All Category</h5>
        </ul>
      </div>
    </div>
  </nav>

  <!-- category -->
  <div class="gallery-container">
    <div class="gallery-item">
      <button type="button">
        <a href=" ../templates/category/3DArt.html"><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>3D Art</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Abstract.html"><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Abstract</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Animal.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Animal</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Anime.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Anime</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Architecture.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Architecture</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Celebrity.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Celebrity</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Character.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Character</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Comics.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Comics</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Fantasy.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Fantasy</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Food.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Food</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Funny.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Funny</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Games.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Games</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Holiday.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Holiday</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Men.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Men</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Military.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Military</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Movie.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Movie</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Nature.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Nature</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Photography.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Photography</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/PopArt.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Pop Art</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/SciFi.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Sci Fi</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Space.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Space</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Sports.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Sports</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Technology.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Technology</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Travel.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Travel</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Vehicles.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Vehicles</span>
      </button>
    </div>
    <div class="gallery-item">
      <button type="button">
        <a href="../templates/category/Women.html" /><img src="https://i.ibb.co/3493r17/cat.jpg" /></a>
        <span>Women</span>
      </button>
    </div>
  </div>


  <script src="/js/nav.js"></script>

</body>

</html>