<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.togethart.repository.search.SearchResultsMapper">
    <select id="getSearchResults" resultType="java.lang.String">
        SELECT resized_path
        FROM artwork
        WHERE artwork_title LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>