<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/kim_bootstrap.css">
  <title>TogethArt</title>
</head>

<body>
  <!-- 내비게이션 -->
  <div id="nav-wrapper" th:replace="~{/nav :: nav}"></div>

  <!-- 메인 갤러리 -->
  <div id="gallery-container" class="gallery-container"></div>

  <script src="/js/gallery/index.js"></script>
  <script src="/js/nav.js"></script>

</body>

</html>